<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.labs.avviotech.com.sharecare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".ShareCare"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLKln8e396QP-bc42LqL6rJ4LFG7lqUnU" />

        <activity android:name=".activities.SplashActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignupActivity" />

        <service
            android:name=".service.LocationService"
            android:process=":sharecare_location_service" />

        <activity android:name=".activities.CareGiverActivity" />
        <activity android:name=".activities.ChildPhotoActivity" />
        <activity android:name=".activities.PlacesActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".activities.ChooseChildActivity" />

        <service
            android:name=".onesignal.MyNotificationExtenderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name=".activities.PrivacyActivity" />
        <activity android:name=".activities.ReferralActivity"></activity>
        <activity android:name=".activities.AddChildActivity" />
    </application>

</manifest>